@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-xs-custom {
  height: 1.5rem;
  width: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.75rem;
}


:root {
  --toastify-color-light: hsl(var(--b2));
  --toastify-color-dark: hsl(var(--b2));
  --toastify-color-info: hsl(var(--in))
  --toastify-color-success: hsl(var(--su));
  --toastify-color-warning: hsl(var(--wa));
  --toastify-color-error: hsl(var(--er));
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-text-color-light: hsl(var(--bc));
  --toastify-text-color-dark: hsl(var(--bc));
}